#additem{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#inputt{
    border: 1px solid grey;
    height: 20px;
    outline: 0;
}
#btn{
    background-color: rgb(104, 195, 238);
    color: white;
    height: 25px;
    outline: 0;
    cursor: pointer;
}